*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
* footer */

.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}
.footer h4{
    margin-top: 20px;
    margin-bottom: 25px;
    font-weight: 600;

}
.icon .fab{
    color: #63a4ff;
    margin: 0 10px;
    cursor: pointer;
    padding: 20px 0;
    text-align: center;
}

.menu-icon{
    width: 28px;
    margin-left: 20px;
    display: none;  
}